.cta-section {
  @extend %background-styles;
  padding: 157px 0 140px;
  @include overlay(rgba(0, 0, 0, 0.5), overlay);

  &__container {
    @include make-container();
    @include make-container-max-widths();
  }

  &__row {
    text-align: center;
  }

  &__content {
    color: $white;
    margin-bottom: 50px;
    font-family: $font-opensans-regular;
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.2;
      font-weight: 400;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
    }
  }

  &__btn {
    font-family: $font-opensans-regular;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.12px;
    background-color: #e74c3c;
    padding: 16px 50px;
  }
}
