h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

textarea {
  resize: none;
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.separator {
  display: inline-flex;
  align-items: center;

  &__left-line,
  &__right-line {
    width: 80px;
    height: 2px;
    border: 1px solid $warm-white;
  }

  &__left-line {

  }

  &__right-line {

  }

  &__dot {
    @include size(8px, 7px);
    background-color: $primary-red;
    margin: 0 14px;
    border-radius: 50px;
  }
}